#matsushibadenki/snn3/requirements.txt

torch>=2.0
numpy<2.0
spikingjelly
datasets
scikit-learn
tqdm
pandas
transformers
accelerate
gradio
dependency-injector[yaml]
pyyaml
langchain
langchain-core
tensorboard
faiss-cpu
sentence-transformers
safetensors
gguf
requests
beautifulsoup4
types-tqdm
types-beautifulsoup4
langchain-community
hydra-core
torch
torchvision
torchaudio
firebase-admin
